*.a
*.sw*

*.cmake
CMakeCache.txt
CMakeFiles
compile_commands.json
moc_*
*.moc
hardfork.hpp

build/
lcov

libraries/utilities/git_revision.cpp
libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen


doxygen

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo
*.egg-info/
