
add_library( steem_plugins
   mf_plugins.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/steem/manifest/plugins.hpp
)

target_link_libraries( steem_plugins appbase fc
{% for plugin in plugins %}
   {{ plugin["plugin_project"] }}
{% endfor %}
)

target_include_directories( steem_plugins
   PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include"
   )

INSTALL( TARGETS
   steem_plugins

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
