#include <appbase/application.hpp>
#include <boost/preprocessor/seq/for_each.hpp>

#include <steemit/manifest/plugins.hpp>

{% for plugin in plugins %}
#include <steemit/plugins/{{ plugin["plugin_name"] }}/{{ plugin["plugin_name"] }}_plugin.hpp>
{% endfor %}

namespace steemit { namespace plugins {

void register_plugins()
{
   {% for plugin in plugins %}
   appbase::app().register_plugin< steemit::plugins::{{ plugin["plugin_name"] }}::{{ plugin["plugin_name" ] }}_plugin >();
   {% endfor %}
}

} }
